/*-------------TODO CSS----------------------*/

.todo {
  width: 100%;
  background-color: #134ac2 !important;
  background: linear-gradient(
    45deg,
    rgb(193, 199, 199) -50%,
    #134ac2 40%,
    #3057aa 70%,
    azure 150%
  ) !important;
  border-radius: 4px !important;
}
.heading {
  color: azure;
  font-size: 30px;
  font-family: "Bree Serif";
  font-weight: 600;
}
.underline {
  border-bottom: 2px solid rgb(6, 7, 65);
}
.add-on {
  display: flex;
  font-size: 32px;
  padding: 10px;
}
.MuiIconButton-label {
  font-size: 40px;
}
.add {
  cursor: pointer;
}
.MuiIconButton-colorPrimary {
  color: rgb(6, 7, 65) !important;
}
/*----------------TASK CSS---------------------*/

.task {
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.534) !important;
  margin-bottom: 30px;
}
.task-head {
  padding: 5px 10px;
  display: flex;
  color: darkblue;
  font-size: larger;
  font-weight: 600;
  /* background-color: grey !important; */
  justify-content: space-between;
}
.text {
  font-size: 16px;
}
.Progress {
  display: flex;
  /* background-color: rgb(0, 87, 128) !important; */
  justify-content: space-around;
  padding: 0px 5px 10px 5px;
}
.type {
  padding: 5px;
  border-radius: 20px;
}
.To-Do {
  padding: 2px 0px;
  width: 90px;
}
.Ongoing {
  padding: 2px 0px;
  width: 90px;
}
.Done-task {
  padding: 2px 0px;
  width: 90px;
}

@media screen and (max-width: 450px) {
  .heading {
    font-size: 15px;
    font-weight: 400;
  }
  .MuiCardContent-root {
    padding: 5px !important;
  }
  .task {
    padding: 2px;
  }
  .task-head {
    padding: 2px 5px;
    font-weight: 400;
  }
  .text {
    font-size: 10px;
  }
  .date {
    font-size: 10px;
  }
  .add-on {
    font-size: 5px !important;
    padding: 0px;
  }
  .Progress {
    padding: 0px 1px 2px 1px;
  }
  .MuiIconButton-label {
    font-size: 15px;
  }
  .MuiButton-label {
    font-size: 7px;
  }
  .Ongoing {
    width: 40px;
  }
  .Done-task {
    width: 40px;
  }
  .type {
    padding: 2px;
  }
  .underline {
    padding: 1px 0px 0px 0px;
    border-bottom: 1px solid rgb(6, 7, 65);
  }
}
