.home {
  padding: 0 5%;
}
.intro {
  font-size: 40px;
  color: azure;
}
.select-head {
  color: aliceblue;
  font-weight: 400;
  font-family: "Kaisei Tokumin", serif;
}
.stats-card {
  display: flex;
}
.task-specification {
  display: flex;
  justify-content: space-around;
}
.To-do {
  flex: 0.3;
}
.Doing {
  flex: 0.3;
}
.Done {
  flex: 0.3;
}

@media screen and (max-width: 450px) {
  .home {
    height: 100vh;
  }
  .stats-card {
    overflow-x: scroll;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .intro {
    font-size: 20px;
  }
  .categories {
    font-size: 15px !important;
  }
  .select-head {
    font-size: 20px;
  }
}
